/* jetbrains-mono-regular */
@font-face {
	font-family: 'JetBrains Mono Server';
	font-style: normal;
	font-weight: 400;
	src: url(/blog/fonts/jetbrains-mono-regular.woff2) format("woff2");
}
/* jetbrains-mono-semibold */
@font-face {
	font-family: 'JetBrains Mono Server';
	font-style: normal;
	font-weight: 500;
	src: url(/blog/fonts/jetbrains-mono-semibold.woff2) format("woff2");
}
/* jetbrains-mono-bold */
@font-face {
	font-family: 'JetBrains Mono Server';
	font-style: normal;
	font-weight: 700;
	src: url(/blog/fonts/jetbrains-mono-bold.woff2) format("woff2");
}

pre * {
	font-family: 'JetBrains Mono Server';
  font-weight: 500;
}
